body {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.content {
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: rgba(0,0,0,1);
	text-decoration: underline;
}

#about {
	padding: 15px 0;
	background-color: rgba(0,0,255,0.1);
}

#get {
	padding: 15px 0;
	background-color: rgba(0,0,255,0.2);
}

#contact {
	padding: 15px 0;
	background-color: rgba(0,0,255,0.3);
}

#developer {
	padding: 15px 0;
	background-color: rgba(0,0,255,0.4);
}