body {
	padding-top: 70px;
	font-family: 'Roboto Light', sans-serif;
	background-color: rgba(240,240,240,1);
}

.navbar-brand, 
.navbar-brand:hover {
	color: rgba(255,255,255,1) !important;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}
.form-signin .form-control:focus {
	z-index: 2;
}

.form-addr .form-addr-heading,
.form-addr .checkbox {
	margin-bottom: 10px;
}
.form-addr .checkbox {
	font-weight: normal;
}
.form-addr .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}
.form-addr .form-control:focus {
	z-index: 2;
}

.repSelector {
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0,221,255,1) !important;
}

.navbar-default {
	background-color: rgba(0,153,204,1) !important;
	border-color: rgba(0,153,204,1) !important;
}

.navbar-nav .active a {
	color: rgba(255,255,255,1) !important;
	background-color: rgba(0,0,0,0) !important;
	border-bottom: 5px solid rgba(0,221,255,1) !important;
}

.navbar-nav li a:hover {
	color: rgba(255,255,255,1) !important;
	border-bottom: 5px solid rgba(0,221,255,0.75) !important;
}

.navbar-nav li a {
	color: rgba(255,255,255,1) !important;
}

.nav-pills li.active a {
	color: rgba(0,0,0,1) !important;
	background-color: rgba(0,0,0,0) !important;
	border-bottom: 4px solid rgba(0,221,255,1) !important;
}

.nav-pills li a:hover {
	color: rgba(0,0,0,0.75) !important;
	background-color: rgba(0,0,0,0) !important;
	border-bottom: 4px solid rgba(0,221,255,0.75) !important;
}

.nav-pills li a {
	color: rgba(0,0,0,1) !important;
	border-radius: 0px;
}

.list-group-item {
	margin-bottom: 2px !important;
	border: 0px solid rgba(0,0,0,0) !important;
	border-bottom: 1px solid rgba(0,221,255,0) !important;
	border-radius: 0px !important;
	border-left: 5px solid rgba(0,221,255,0) !important;
}

a.list-group-item:hover, 
.report-list-item-active {
	background-color: rgba(240,240,240,1) !important;
	border-left: 5px solid rgba(0,221,255,0.5) !important;
}

.admin-menu, .user-menu {
	background-color: rgba(0,153,204,0.5) !important;
	margin-top: -15px !important;
	padding-right: 0px;
	padding-left: 0px;
}

.admin-menu>.list-group, 
.user-menu>.list-group {
	margin-top:15px;
}

.admin-menu>.list-group>.list-group-item, 
.user-menu>.list-group>.list-group-item {
	background-color: rgba(0,0,0,0);
	color: rgba(255,255,255,1);
}

.admin-menu>.list-group>.list-group-item:hover, 
.admin-menu-active, 
.user-menu>.list-group>.list-group-item:hover, 
.user-menu-active {
	background-color: rgba(0,0,0,0.05) !important;
	border-left: 5px solid rgba(0,153,205,1) !important;
	cursor: pointer;
}

.admin-content, 
.report-details, 
.user-content {
	display: none;
}

#report-details-map {
	height: 350px;
}

.report-details-big {
	font-size: 25px;
	font-weight: 500;
}

.report-details-medium {
	font-size: 20px;
	font-weight: 400;
}

.report-details-small {
	font-size: 14px;
	font-weight: 300;
}

.report-details-uppercase {
	text-transform: uppercase;
}

#report-details-image-container {
	height: 350px;
	overflow: hidden;
}

.report-details, .report-list {
	overflow: scroll;
}

#report-update-area {
	width: 100%;
}

.report-details>.row {
	margin-bottom: 15px;
}

.report-details-update-header {
	font-size: 18px;
	border-bottom: 1px solid rgba(175,175,175,1);
}

#report-details-updates>a {
	border-bottom: 1px solid rgba(175,175,175,0.5) !important;
}

#report-details-updates>a:hover {
	border-left: 5px solid rgba(0,0,0,0) !important;
	background-color: rgba(0,0,0,0) !important;
}

#report-details-buttons {
	border-top: 1px solid rgba(175,175,175,0.5) !important;
}

.loading-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 999;
	text-align: center;
	padding-top: 100px;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.75);
}

.loading-container>span {
	display: block;
	margin: 0 auto;
}

.nav-justified>li {
	display: table-cell;
	width: 1%;
}

span[class*="loading-dot-"] {
	display: inline-block;
	background: rgba(255,255,255,1);
	width: 4px;
	height: 4px;
	
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	
	margin: 12px 2px;
	position: relative;
	
	-webkit-animation: loader 4s infinite;
	-webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-webkit-animation-fill-mode: both;
	-moz-animation: loader 4s infinite;
	-moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-moz-animation-fill-mode: both;
	-ms-animation: loader 4s infinite;
	-ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-ms-animation-fill-mode: both;
	animation: loader 4s infinite;
	animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	animation-fill-mode: both;
}

span.loading-dot-1 { -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; animation-delay: 1s; }
span.loading-dot-2 { -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; -ms-animation-delay: 0.8s; animation-delay: 0.8s; }
span.loading-dot-3 { -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; -ms-animation-delay: 0.6s; animation-delay: 0.6s; }
span.loading-dot-4 { -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; -ms-animation-delay: 0.4s; animation-delay: 0.4s; }
span.loading-dot-5 { -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; -ms-animation-delay: 0.2s; animation-delay: 0.2s; }
span.loading-dot-6 { -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; }

@-webkit-keyframes loader {
	0% { -webkit-transform: translateX(-30px); opacity: 0; }
	25% { opacity: 1; }
	50% { -webkit-transform: translateX(30px); opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes loader {
	0% { -moz-transform: translateX(-30px); opacity: 0; }
	25% { opacity: 1; }
	50% { -moz-transform: translateX(30px); opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes loader {
	0% { -ms-transform: translateX(-30px); opacity: 0; }
	25% { opacity: 1; }
	50% { -ms-transform: translateX(30px); opacity: 0; }
	100% { opacity: 0; }
}
@keyframes loader {
	0% { transform: translateX(-30px); opacity: 0; }
	25% { opacity: 1; }
	50% { transform: translateX(30px); opacity: 0; }
	100% { opacity: 0; }
}

.modal-content {
	border-radius: 0px;
}

.report-details-photo {
	width: 100%;
}

.filter-option {
	font-size: 16px;
	color: #555;
	padding: 4px 0;
}

/**
 * --------- Panel Styling -----------------
 */
html .panel-default {
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 3px 6px rgba(0,0,0,0.15), 0px 3px 6px rgba(0,0,0,0.2);
	border-radius: 0px;
	border: none;
}
html .panel-default>.panel-header-main {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	font-weight: 200;
	text-transform: uppercase;
	border-radius: 0px;
	background-color: rgba(255,255,255,1);
}

/**
 * -------- Form Styling -----------
 */
.form-group label {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
}
.form-group .form-control {
	padding: 0px;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid rgba(50,50,50,0.5);
	background: rgba(0,0,0,0);
}
.form-group .form-control:hover,
.form-group .form-control:active {
	border-bottom: 1px solid rgba(51, 181, 229, 1);
}
.form-group .form-control:active {
	animation: inputPulse 1s;
}
.form-group .btn {
	border-radius: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	padding: 10px 15px;
	color: rgba(255,255,255,1);
}
.form-group .btn-primary {
	background-color: rgba(51, 181, 229, 1);
	border-bottom: 1px solid rgba(51, 181, 229, 1);
}

.form-big {
	font-size: 16px;
}
@keyframes inputPulse {
	0% { background-color: rgba(51, 181, 229, 0); }
	50% { background-color:rgba(51, 181, 229, 0.5); }
	100% { background-color:rgba(251, 181, 229, 0); }
}
